/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container Layout */
.container {
    display: flex;
    height: max-content;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh; /* Hauteur complète */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
}

.sidebar h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 1.5rem;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    margin-bottom: 20px;
    color: #555;
}

.manage{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
}
/* Formulaire d'ajout de parking */
.carpark-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carpark-form label {
    font-weight: bold;
    color: #333;
}

.carpark-form select,
.carpark-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.carpark-form input:focus,
.carpark-form select:focus {
    border-color: #4CAF50;
}

.confirm-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.confirm-btn:hover {
    background-color: #45a049;
}

/* Bouton Home */
.home-btn {
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    text-decoration: none;
}

.home-btn a {
    text-decoration: none;
    color: #333;
}

.home-btn a:hover {
    color: #4CAF50;
}


/* Disconnect */
.disconnect {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.disconnect span {
    color: red;
    font-weight: bold;
}

