* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container Layout */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh; /* Hauteur complète */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
}

.sidebar h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 1.5rem;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    margin-bottom: 20px;
    color: #555;
}

/* Status Section */
.status-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.status-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.add-carpark {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor:pointer;
    font-size: 1rem;
}

button.add-carpark:hover {
    background-color: #45a049;
}

/* Parking Section */
.parking-section {
    margin: 20px 0;
}

.parking-section h3 {
    margin-bottom: 10px;
}

.parking-section ul {
    list-style: none;
}

.parking-section li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parking-section button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.parking-section button:hover {
    background-color: #45a049;
}

/* Disconnect */
.disconnect {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.disconnect span {
    color: red;
    font-weight: bold;
}
